mat-card {
    font-family: Century Gothic;
}

.form-field {
    width: 100%;
}

.mat-card-form {
    max-width: 30em;
    margin-bottom: 1em;
}


.card-address {
    width: 150px;
    margin: 4px;
    display: inline-block;
    height: 150px;
}

@media (max-width: 650px) {
    .card-address {
        margin: 4px;
        height: 150px;
        display: block;
        width: auto;
    }
}
