<div style="margin: 1em;">
    <button mat-button style="margin: 1em;" (click)="cancel()">
        <mat-icon>arrow_left_alt</mat-icon>Voltar
    </button>
    <mat-card class="mat-card-form">
        <mat-card-content>
            <h2>Cadastro de usuário</h2>

            <form class="example-form" [formGroup]="form">

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="name">
                    <mat-hint class="hint-error" *ngIf="form.get('name').touched && form.get('name').errors?.required">Nome é necessário</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Telefone</mat-label>
                    <input matInput mask="(00) 0000-0000" placeholder="Telefone" formControlName="phone">
                    <mat-hint class="hint-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.required">Telefone é necessário</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('phone').touched && form.get('phone').errors?.mask">Telefone esta incorreto</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>CPF</mat-label>
                    <input matInput mask="000.000.000-00" placeholder="CPF" formControlName="cpf">
                    <mat-hint class="hint-error" *ngIf="form.get('cpf').touched && form.get('cpf').errors?.required">CPF é necessário</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('cpf').touched && form.get('cpf').errors?.mask">CPF esta incorreto</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('cpf').touched && userDuplcate">CPF já existe na base</mat-hint>
                </mat-form-field>

                <div style="margin-top: 1em; margin-bottom: 1em; text-align: center;">
                    <button type="button" style="margin: 1em; width: 8em;" mat-raised-button color="basic"
                        (click)="cancel()" mat-dialog-close>Cancelar</button>
                    <button type="button" style="margin: 1em; width: 8em;" mat-raised-button color="primary"
                        (click)="save()">Salvar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="div-address">
        <mat-card>
            <div style="margin-top: 2em; margin-bottom: 1em;">
                <h2>Endereços do usuário </h2>
                <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="idUser == undefined" >Inserir endereço</button>
            </div>
            <h4 *ngIf="!adresses || !adresses.length">Não possui endereços cadastrados.</h4>

            <div style="align-items: center;display: flex;">
                <mat-card *ngFor="let address of adresses" class="card-address">
                    <h5 style="line-height: 24px; margin:0">{{address.name}}</h5>
                    <h5 style="line-height: 24px; margin:0">{{address.zipCode}}</h5>
                    <h5 style="line-height: 24px; margin:0">{{address.street}}, {{address.number}}</h5>
                    <h5 style="line-height: 24px; margin:0">{{address.neighborhood}}, {{address.state}}</h5>
                    
                    <button style="margin: 5px; width: 4em; padding: 0;" mat-raised-button color="basic" (click)="deleteAddress(address.id)" mat-dialog-close>Excluir</button>
                    <button style="margin: 5px; width: 4em; padding: 0;" mat-raised-button color="primary" (click)="openDialog(address)">Editar</button>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>