mat-toolbar {
    background: #303643;    
    z-index: 999;

    .title-toolbar {
        color: #FFFFFF;
        font-family: Century Gothic;
    }

    .title-toolbar-name {
        right: 1em;
        position: fixed;
        color: #FFFFFF;
        font-family: Century Gothic;
    }
  }