<div style="width: 100%; max-width: 30em;">
    <mat-card>
        <mat-card-content>
            <h2>Cadastro de Endereço</h2>

            <form class="example-form-2" [formGroup]="form">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="name">
                    <mat-hint class="hint-error" *ngIf="form.get('name').touched && form.get('name').errors?.required">Nome é necessário</mat-hint>                    
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>CEP</mat-label>
                    <input matInput mask="00000-000" placeholder="CEP" formControlName="zipCode" (keyup)="findZipCode()">
                    <mat-hint class="hint-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.required">CEP é necessário</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('zipCode').touched && form.get('zipCode').errors?.mask">CEP esta incorreto</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('zipCode').touched && zipCodeNotFound">CEP não encontrado</mat-hint>
                    <mat-hint class="hint-error" *ngIf="form.get('zipCode').touched && zipCodeDuplcate">CEP já existe na base</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Rua</mat-label>
                    <input matInput placeholder="Rua" formControlName="street">
                    <mat-hint class="hint-error" *ngIf="form.get('street').touched && form.get('street').errors?.required">Rua é necessário</mat-hint>                    
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Número</mat-label>
                    <input matInput placeholder="Número" formControlName="number">
                    <mat-hint class="hint-error" *ngIf="form.get('number').touched && form.get('number').errors?.required">Número é necessário</mat-hint>                    
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="Bairro" formControlName="neighborhood">
                    <mat-hint class="hint-error" *ngIf="form.get('neighborhood').touched && form.get('neighborhood').errors?.required">Bairro é necessário</mat-hint>                    
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>UF</mat-label>
                    <input matInput mask="SS" placeholder="UF" formControlName="state">
                    <mat-hint class="hint-error" *ngIf="form.get('state').touched && form.get('state').errors?.required">UF é necessário</mat-hint>                    
                </mat-form-field>
            </form>

            <div style="margin-top: 2em; margin-bottom: 1em; text-align: center;">
                <button style="margin: 1em; width: 8em;" mat-raised-button color="basic" mat-dialog-close>Cancelar</button>
                <button style="margin: 1em; width: 8em;" mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid" >Salvar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>