<div class="" style="margin: 1em;">

  <div style="margin-top: 2em; margin-bottom: 1em;">
    <button mat-raised-button color="primary" (click)="create()">Inserir usuário</button>
  </div>

  <div style="margin-top: 2em; margin-bottom: 4em;">
    <app-user-table [users]="users" (edit)="edit($event)" (delete)="delete($event)"></app-user-table>
  </div>
</div>