<mat-toolbar>
  <div style="text-align: center;width: inherit;">
    <button mat-mini-fab color="accent" style="margin: 1em; background-color: darkgray;" aria-label="Example icon button with a bookmark icon" >
      <mat-icon>bookmark</mat-icon>
    </button>
    <button mat-mini-fab color="accent" style="margin: 1em; background-color: darkgray;" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
    <button mat-mini-fab color="accent" style="margin: 1em; background-color: darkgray;" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
    <span class="title-toolbar">Keoma K. Klein</span>
    <span class="title-toolbar">Desafio MD</span>
  </div>
</mat-toolbar>