/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .cel-end {
    text-align: end;  
    padding-right: 24px;  
  }

  @media(max-width: 892px) {
    .cel-end {
      padding-right: 0 !important;  
    }
  }