@font-face {
  font-family: "Century Gothic";    
  src: url("/assets/fonts/Century Gothic.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: Century Gothic, Roboto, "Helvetica Neue", sans-serif; }
